<style>
  .boton {
    background-color: white;
    border-radius: 1px;
    border-color: black;
    color: black;
    padding: 10px 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
 
  }
  .list
  {
    background-color: white;
    border-radius: 0.1px;
    border-color: black;
    border-style:  solid;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 50px 10px;
    width: 100%;
    font-family: Arial;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-template-areas:
    "a a a a a a a a b"
    "a a a a a a a a d"
    "c c c c c c c c f"
    "c c c c c c c c x"
    "e e e e e e e e x"
    "e e e e e e e e x";
  align-items: start;
  
  }
  .wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttonStyle
{
  background-color: #e7e7e7; color: black;
  border-radius: 12px;
  border: 2px solid #e7e7e7;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}
.right{
  display: flex;
  font-family: "Courier New", "Lucida Console", monospace;
  width: 100%;
}
#der{justify-content: flex-end;
  margin-left: 85% ;
}
</style>
  <div  class="right">
  <div style="width: 100%"> <button (click)=onClick(1)  routerLink="addLibro" class="buttonStyle" id="der">
    Nueva Publicacion
  </button> </div>
</div>
<div class="wrapper">

  <table style="width: 80%;">
   
  <tr *ngFor="let x of array2"  >
    <td>
      <div class="list"  >
       <h3 style="grid-area: a;">{{x.autorLibro}}</h3> <button style="grid-area: b;" class="buttonStyle">Ver publicacion</button>
       <h2 style="grid-area: c;">{{x.tituloLibro}}</h2><button style="grid-area: d;" class="buttonStyle">Editar </button>
      <p style="grid-area: e;">{{x.comentarioLibro}}</p><button style="grid-area: f;" class="buttonStyle" (click)= onClick(x.idLibro)  onclick="location.href='home'">Eliminar</button></div>
    </td>   
  </tr>
</table>
</div>
